#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* overwrite the default blue color */
#contact a {
  color: white !important;
}

#contact a:hover {
  color: #34d399 !important;
  /* text-decoration: underline; */
}

.hover-effect {
  position: relative;
  text-decoration: none;
  transition: all 0.2s ease;
  padding: 2px 4px;
  border-radius: 6px;
  background-color: transparent;
}

.hover-effect:hover {
  background-color: rgba(52, 182, 211, 0.1);
  /* text-decoration: underline; */
}

.perspective-1000 {
  perspective: 1000px;
}
.transform-style-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
